<% provide(:title, 'All Users') %>
<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '編集する') %>
<h1> ユーザ一覧 </h1>

<%= form_with url:import_users_path, local: true, multipart: true do |f| %>
  <%= f.file_field :file %><br/>
  <%= f.submit "　　　　CSVをインポート　　　　", class: "btn btn-primary" %>
<% end %>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-hover" id="table-users">
    <% @users.each do |user| %>
      <% unless user.admin? %>
        <tr>
          <td>
            <%= user.name %><br/>
              ｜
            <% if current_user.admin? && !current_user?(user) %>
              <%= link_to "削除", user, method: :delete,
                  data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %>
            <% end %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <button type="button" data-toggle="collapse" data-target="#<%= user.id %>" class="btn btn-lg btn-primary">編集</button>
              </div>
              <div id="<%= user.id %>" class="collapse">
                <div class="panel-body">
                  <% @user = user %>
                  <%= render 'edit_form' %>
                </div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
